 <div class="pic_title">
    Gaming & Story App
  </div>

 <img class="pic" src="assets/adventure_game.jpg">


  <div class="pic_description">
    This "Choose Your Adventure" game app gives players the ability to choose their fate. Their are a variety of stories to choose from, i.e., Adventure, Sci-Fi, Romance, Horror, etc..
  </div>