
  <div class="pic_title">
    Architecture App
  </div>

 <img class="pic" src= "assets/architecture.jpg">


  <div class="pic_description">
    This Architecture application allows you to easily design a floor plan in 2D. Drag and drop walls, doors, windows, etc..
  </div>







