 <div class="pic_title">
    Data Analysis App
  </div>

 <img class="pic" src="assets/big-data.jpg">


  <div class="pic_description">
    This application is used to perform unsupervised machine learning and visualization. Simply upload your file and within seconds you will have a report with a best case recommendation.
  </div>