<h1 class="page_title">Contact</h1>

  <div class="text">
        Jason R. Darcy <br>
        New York, N.Y. <br>
        darcy_jason01@yahoo.com <br>
        www.linkedin.com/pub/jason-darcy/10/977/3a2/ <br>
        https://github.com/darchcruise
  </div>
