
<div class="pic_title">
    Health Care App
  </div>

 <img class="pic" src="assets/dna_helix.jpg">

  <div class="pic_description">
    This application allows pateints and doctors to access medical records, such as physicals. The program automatically recommends check-up. The program can auto communicate with any electronic implants that monitors vital and peripheral systems.
  </div>