 <div class="pic_title">
    Image Recognition App
  </div>

 <img class="pic" src="assets/drone.jpg">


  <div class="pic_description">
    This application allows a remote camera to communicate with your database for the purpose of identifing and tracking a specific object. The program searches until a match is found.
  </div>
