
      <ul id="grid">
        <li>
          <a href="assets/architecture.jpg"><img src="assets/icons/Architecture.png"></img></a>
        </li>
        <li>
          <a href="assets/proforma.png"><img src="assets/icons/Finance.png"></img></a>
        </li>
        <li>
          <a href="assets/drone.jpg"><img src="assets/icons/Intelligence.png"></img></a>
        </li>
        <li>
          <a href="assets/adventure_game.jpg"><img src="assets/icons/Books.png"></img></a>
        </li>
        <li>
          <a href="assets/big-data.jpg"><img src="assets/icons/Data_Analysis.png"></img></a>
        </li>
        <li>
          <a href="assets/dna_helix.jpg"><img src="assets/icons/Health_Care.png"></img></a>
        </li>
      </ul>





































<!-- <h1>Listing portfolios</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

# <% @portfolios.each do |portfolio| %>
  <tr>
    <td><%= link_to 'Hi', portfolio %></td>
    <td><%= link_to 'Edit', edit_portfolio_path(portfolio) %></td>
    <td><%= link_to 'Destroy', portfolio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
# <% end %>
</table>

<br />

<%= link_to 'New Portfolio', new_portfolio_path %>
 -->