
      <ul id="grid">
        <li>
          <a href="/architecture"><img src="assets/icons/Architecture.png"></img></a>
        </li>
        <li>
          <a href="/proforma"><img src="assets/icons/Finance.png"></img></a>
        </li>
        <li>
          <a href="/drone"><img src="assets/icons/Intelligence.png"></img></a>
        </li>
        <li>
          <a href="/adventure_game"><img src="assets/icons/Books.png"></img></a>
        </li>
        <li>
          <a href="/big_data"><img src="assets/icons/Data_Analysis.png"></img></a>
        </li>
        <li>
          <a href="/dna_helix"><img src="assets/icons/Health_Care.png"></img></a>
        </li>
      </ul>