  <div class="pic_title">
    Finance & Accounting App
  </div>

 <img class="pic" src="assets/proforma.png">


  <div class="pic_description">
    This Finance application allows you to track your business income, expense, and profit. Additionally it will calculate your Return on Investment.
  </div>
