<h1 class="page_title">Resume</h1>

<h3>TECHNICAL SKILLS</h3>

<div class="text">
  Ruby, Javascript, SQL, HTML, CSS, Ruby on Rails, Sinatra, Backbone.js, jQuery, Ajax, d3, PostgresSQL, MongoDB, Rspec, Github,  Pivotal Tracker,  APIs, Heroku, Microsoft Office Suite (w/ strong Excel skills)and ARGUS
</div>

<h3>EXPERIENCE</h3>

<div class="text">
  General Assembly, New York, NY                 2013 - Current
  Junior Web Developer
  Created various web applications such as real estate, choose your own adventure game, a portfolio, and final project
</div>

<div class="text">
  OTG Management, New York, NY                  2012 – 2013
  National Project Manager / Real Estate Developer
  Oversee the funding, design, approval process and construction of 65 national restaurant and retail locations
  Responsible for a $78 million budget
  Supervise regional project managers, architects, engineers, contractors, and vendors
  Manage project schedules and monitor daily progress
  Review monthly cash flow projections of current and future projects with CFO
  Collaborate with CTO on deployment of technology platforms to enhance customer experience and revenue
  Strategize with COO to create greater efficiencies in restaurant and retail design with an emphasis on workflow
</div>

<div class="text">
  ZarCity Properties, New York, NY                2010 - 2012
  Strategic Business / Financial Analyst
  Performed pro forma P &L and investment analysis of single assets and portfolios up to $500 million
  Executed financial due diligence and credit risk analysis on prospective tenants
  Worked with lenders and equity partners to recapitalize existing assets
  Generated sales forecast and statistical models that analyzed consumer demographics
  Created growth strategies for existing properties
  Prepared presentations for investors
  Conducted periodic site evaluations
</div>

<h3>EDUCATION</h3>

<div class="text">
   New York University, New York, NY M.S. in Finance / Real Estate           2009 - 2011
</div>
