<!DOCTYPE html>
<html>
<head>
  <title>PortfolioApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

      <div class="header">
        <div id="name">Jason R. Darcy</div>
        <div id="port">Portfolio</div>
        <ul id="navigation">
          <li><a href="#">about</a></li>
          <li><a href="#">resume</a></li>
          <li><a href="#">contact</a></li>
        </ul>
      </div>

<%= yield %>

      <div class="footer">
        Jason R. Darcy <br>
        New York, N.Y. <br>
        darcy_jason01@yahoo.com <br>
        www.linkedin.com/pub/jason-darcy/10/977/3a2/ <br>
        https://github.com/darchcruise
      </div>

</body>
</html>
