<!DOCTYPE html>
<html>
<head>
  <title>PortfolioApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

      <div class="header">
        <div id="name"><a href="/portfolios">Jason R. Darcy</a></div>
        <div id="port">Portfolio</div>
        <ul id="navigation">
          <li><a href="/about">about</a></li>
          <li><a href="/resume">resume</a></li>
          <li><a href="/contact">contact</a></li>
        </ul>
      </div>
<div class="canvas">
<%= yield %>
</div>
      <div class="footer">

      </div>

</body>
</html>
